:root {
  --base-bg: #000000;
  --base-white: #fff;
  --max-width: 1800px;
  --carousel_row-gap: 0.75rem;
  --carousel_col-gap: 1.875rem;
  --first-child-margin: 5rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--base-bg);
  color: var(--base-white);
}

main {
  margin-left: 3rem;
  margin-right: 3rem;
}

.content-container {
  padding: var(--first-child-margin) 0;
  margin: 0 auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
}

h1,
h3,
h2,
h4,
p {
  color: #f5f5f5;
  max-width: fit-content;
}

#menu {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

li {
  list-style: none;
}

button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ffffff;
  max-width: fit-content;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*--------------------Home Page--------------------*/

.page-content {
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
  max-width: var(--max-width);
}

.page-content:first-child {
  margin-top: var(--first-child-margin);
}

.movies-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;
  overflow-x: auto;
  padding: calc(var(--carousel_row-gap) / 2) calc(var(--carousel_col-gap) / 2);
}

.movie-card {
  cursor: grab;
}

.movie-card h4 {
  padding-top: 0.75rem;
}

.movie-card:hover {
  box-shadow: 0 0 0 0.5rem #ffffff00;
}

.poster-container {
  height: 16.875rem;
}

/*--------------------Search Results Page--------------------*/

.search-movies-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--first-child-margin);
}

.search-movie-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.search-poster-container {
  border-radius: 0.75rem;
  height: 12.5rem;
  margin-right: 0.9375rem;
  overflow: hidden;
  outline: solid 2px rgba(255, 255, 255, 0.247);
  outline-offset: -2px;
}

.search-details {
}

.search-year {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.search-genres {
  display: flex;
}

.search-genre:not(:last-child) {
  margin-right: 0.625rem;
}

.load-more-btn {
  margin: 2rem 0 5rem;
}

/*--------------------Movie Details Page--------------------*/

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -100;
}

.background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.movie-details-container {
  display: flex;
  gap: 4.375rem;
  margin-top: var(--first-child-margin);
  position: relative;
}

.poster-details-container {
  height: 34.375rem;
  aspect-ratio: 2/3;
  outline: solid 2px rgba(255, 255, 255, 0.247);
  outline-offset: -2px;
  border-radius: 0.9375rem;
  box-shadow: 0 0 1.5625rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  flex-shrink: 0;
}

.movie-details {
  display: flex;
  flex-direction: column;
  padding-top: 0.4rem;
}

.movie-details-title {
  font-size: 4rem;
  font-weight: 450;
  text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.2), -0.0625rem -0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
  text-wrap: balance;
  padding-top: 3rem;
}

.genre-year-age-time {
  display: flex;
  align-items: center;
  padding: 2rem 0 3rem;
}

.genres-container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  padding-right: 2rem;
  font-size: 0.875rem;
}

.genre {
  background-color: rgb(33, 32, 32);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}

.description-details {
  width: 75%;
  line-height: 1.7rem;
  color: #dbdbdb;
}

.release-date {
  color: #dbdbdb;
}

.age-rating {
  color: #dbdbdb;
}

.age-rating::before {
  content: "•";
  padding: 0 0.6rem;
  font-size: 0.875rem;
}

.age-rating::after {
  content: "•";
  padding: 0 0.6rem;
  font-size: 0.875rem;
}

.run-time {
  color: #dbdbdb;
}

.rating-container {
}

.rating-star {
}

.rating {
}

.btn-container {
  display: flex;
  gap: 1rem;
  align-items: flex-end;
  margin: auto 0 3rem;
}

.homePage-btn {
  border: none;
  color: #000;
  background-color: #fff;
  padding: 0.3125rem 0.625rem;
}

/*--------------------User Favories Page--------------------*/

.layout-options {
  display: flex;
  justify-content: center;
  margin: var(--first-child-margin) 0rem 5rem;
}

.checkbox {
  margin-right: 0.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: center;
  gap: 1rem;
  row-gap: 5rem;
  padding-bottom: 5rem;
}

.movies-container-compact {
  gap: 0;
}

.favorites-movie-container {
  position: relative;
  width: 333px;
  aspect-ratio: 2/3;
}

.favorites-movie-container h3 {
  padding-top: 0.75rem;
  width: 90%;
}

.favorites-movie-container:hover .fav-absolute {
  opacity: 1;
}

.favorites-poster-container {
  height: 100%;
  width: 100%;
}

.fav-absolute {
  position: absolute;
  right: 1rem;
  top: 1rem;
  opacity: 0;
}

@media (max-width: 1450px) {
  .grid {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (max-width: 1100px) {
  html {
    font-size: 15px;
  }
  .grid {
    grid-template-columns: repeat(2, max-content);
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, max-content);
  }
}
